.Twizzlers {
    height: 1000px;
    background-image: url("https://cdn11.bigcommerce.com/s-oxoxmgwste/images/stencil/1280x1280/products/2961/6693/mars-skittles-resealable-2-lb-bag__92244.1635048373.jpg?c=1");
    color: white;
  }